.custome_area{
  height:36%;
  width: 30%;
  display:flex;
  margin-top:120px;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow:scroll; 
}
.custome_area {
  z-index: 1;
}
.custome_area:after {
  content: '';
  position: absolute;
  top: 48%;
  left: 30%;
  right: 30%;
  bottom: 10%;
  border-radius: 25px;
  box-shadow: 0 0 5px 2px slategrey;
  background-color: rgba(255,255,255,0.8);
  z-index: -1;
}


::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.product_image {
  height: 24px;
  width: 24px;
  margin: 0.2em;
}


.border_web_icon{
  height:4em;
  width:4em;
  margin:10px;
  display:flex;
  justify-content: center;
  cursor:pointer;
  border-radius: 5px;
  padding:10px 15px 0 0px;
  .web_icon{
    height:30px;
    width:30px;
    background-color: rgba(255, 255, 255,0.8);
    border-radius: 50px;
    padding:2%;
    
  }
  .addShortcytIcon{
    mask-image: url('../img/searchEngineIcon/add.svg');
    mask-repeat: no-repeat;
    mask-size: 100%;
    height:24px;
    width:24px;
    margin:0.2em;
    background-color: #666666;
  }
  p{
    display:block;
    font-size: 12px;
    background-color: rgba(255, 255, 255,0.8);
    border-radius: 5px;
  }
}

  .border_web_icon:hover{
    background-color: #d4cfcf; position:relative;left:-10px;  
    outline:none;
    .setSc{
      position:relative;
      top:0;
      left:55px;
      height:25px;
      width:20px;
      mask-image: url('../img/searchEngineIcon/more.png');
      mask-repeat: no-repeat;
      mask-size: 100%;
      background-color: #666666;
    }
    
  }
  
@media screen and(max-width:600px){
  .custome_area{
    width: 90%;
  }
  .custome_area:after {
    left: 5%;
    right: 5%;
  }
}