.octus{
  height:200px;
  width: 400px;
  background-color: rgba(255, 255, 255,0.8);
  border: 1px solid black;
  align-items: center;
  display:flex;
  justify-content: center;
  border-radius: 5px;
  .cntr {
    display: table;
    width: 6.8em;
    height: 6em;
    border: 2px solid;
    border-radius: 4em;
    background: rgba(199, 21, 133, 0.8);
    text-align: center;
    .cntr-innr {
      display: table-cell;
      text-align: center;
      vertical-align: bottom;
      padding-left: 0.1em;
    }
  }
}

/*** STYLES ***/
.search {
  display: inline-block;
  position: relative;
  height: 3em;
  width: 35px;
  box-sizing: border-box;
  margin: 0px 10px 7px 12px;
  padding: 7px 9px 0px 0px;
  border: 3px solid #FFFFFF;
  border-radius: 25px;
  transition: all 200ms ease;
  cursor: text;
  box-shadow: 0 0 5px black;

  &:after {
    content: "";
    position: absolute;
    height:20px;
    width:20px;
    top:-20px;
    right:-20px;
    background: #FFFFFF;
    border-radius: 20px;
    transition: all 200ms ease;
  }
  &:before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    top: -20px;
    left: -20px;
    background: #FFFFFF;
    border-radius: 20px;
    transition: all 200ms ease;
  }

  &.active,
  &:hover {
    width: 200px;
    margin-right:20px;

    &:after {
      height: 10px;
    }
  }

  input {
    width: 100%;
    border: none;
    box-sizing: border-box;
    font-family: Helvetica;
    font-size: 15px;
    color: inherit;
    background: transparent;
    outline-width: 0px;
    color: #FFFFFF;

  }
}