@import "main_page";
@import "custome_web";
html,body,#app{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
[v-cloak] {
  display: none;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-normal {
  height: 1em;
  width: 1em;
  overflow: auto;
  margin: auto;
}
.button{
  opacity: 0.8;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  width: 67.5px;
  background-color: #fff;
  opacity: 0.8;
  border-radius:50px;
  border: 1px solid grey;
  padding: 1em;
  &:hover{
    color: #6495ED;
    background-color: #E0FFFF;
  }
}
.not-select,button,.icon-normal{
  -moz-user-select:none; /*火狐*/
  -webkit-user-select:none; /*webkit浏览器*/
  -ms-user-select:none; /*IE10*/
  -khtml-user-select:none; /*早期浏览器*/
  -webkit-touch-callout: none;
  user-select: none;
}